*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/public/fondoWeb.png");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Trebuchet MS", sans-serif;
    color: rgb(0, 0, 0);

    padding-bottom: 35px; /* espacio para el footer */
}

.header {
    background: rgb(50,50,50);
    color: rgb(198, 198, 198);
    border-bottom: 2px solid #1a1a1a;

    padding: 18px 20px;
    position: relative;
    overflow: hidden;

    font-family: "Trebuchet MS", sans-serif;
}

/* efecto luz suave tipo menú */
.header::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -30%;
    width: 160%;
    height: 200%;
    background: radial-gradient(
        circle,
        rgba(255,255,255,0.08),
        transparent 60%
    );
    transform: rotate(-10deg);
}

.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(220,220,220);
    text-transform: uppercase;
    font-weight: 700;
    transform: scaleX(1.2); 
    transform-origin: left; 
}

.header h2 {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: rgb(180,180,180);
    letter-spacing: 1px;
    font-weight: 700; 
     transform: scaleX(1.2); 
    transform-origin: left; 
}

.header p {
    margin: 8px 0 0;
    font-size: 13px;
    color: rgb(150,150,150);
    letter-spacing: 0.5px;
    font-weight: 700; 
     transform: scaleX(1.2); 
    transform-origin: left; 
}


/*------estilos a los filtros de busqueda-------*/

.filtros{
    margin: 15px 20px;
    padding: 15px;

    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;

    background: rgb(138,138,138);

    border-radius: 7px;

    border: 1px solid #4d4d4d;
}

.filtros select,
#btnFavoritos,
#btnResetFiltros{
    min-width: 220px;

    padding: 8px 12px;

    background: rgb(55,55,55);
    color: white;

    border: 1px solid #222;

    border-radius: 7px;

    font-size: 15px;

    cursor: pointer;

    transition: .2s;
}

.filtros select:hover,
#btnFavoritos:hover,
#btnResetFiltros:hover{
    border-color: #f0c400;
}

.filtros select:focus,
#btnFavoritos:focus{
    border-color: #f0c400;
    box-shadow: 0 0 8px rgba(240,196,0,.4);
}




/*------estilos a las cards de los equipos-------*/

.card-equipo{
    position: relative;

    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;

    background: rgba(138,138,138,0.9);
    border: 2px solid #9aa0aa;

    transition: .2s;
}

.card-equipo:hover{
    border-color: rgb(49, 57, 70);
}

.card-equipo img{
    width: 75px;
    height: 75px;
    object-fit: contain;

    margin-bottom: 13px;
}

.card-equipo h3{
     height: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.btn-favorito{
    position: absolute;

    top: 10px;
    right: 10px;

    background: transparent;
    border: none;

    font-size: 22px;
    color: #f0c400;

    cursor: pointer;
}

.btn-favorito:hover{
    transform: scale(1.15);
}

.btn-plantilla {
    width: 100%;

    background: rgb(49, 57, 70);
    color: white;

    border: 1px solid rgb(95,95,95);

    padding: 7px;

    cursor: pointer;
}

.btn-plantilla:hover{
    background: rgb(208, 182, 95);
}

#equipos{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    padding: 15px;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-equipo{
    opacity: 0.95;
}

.card-equipo:hover{
    opacity: 1.5;
}

/*no hay equipos*/
.mensaje-vacio{
    margin: 20px;
    padding: 15px;

    background: rgb(138,138,138);

    border: 1px solid #4d4d4d;

    border-radius: 7px;

    font-size: 18px;
}




/*estilos a la tabla de posiciones*/

.acordeon-posiciones{
    margin: 15px 20px;

    background: rgb(138,138,138);

    border: 1px solid #4d4d4d;

    border-radius: 7px;

    box-shadow: inset 0 0 0 1px #d5d5d5;

    padding: 8px;
}

#btnPosiciones{
    width: 100%;

    padding: 10px 12px;

    background: rgb(55,55,55);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #222;

    border-radius: 7px;

    font-size: 15px;
    font-weight: bold;

    text-align: left;
    cursor: pointer;

    transition: .2s;


}

#btnPosiciones:hover{
    border-color: #f0c400;
}

/* flechita */
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

/* cuando está abierto */
.arrow.rotated {
    transform: rotate(180deg);
}

#tablaPosiciones{
    margin-top: 8px;

    background: rgb(55,55,55);

    border-radius: 7px;

    color: white;
}

.tabla-clasificacion{
    width: 100%;
    border-collapse: collapse; /*borra bordes de la tabla*/
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.tabla-clasificacion.show {
    max-height: 1000px;
}

.tabla-clasificacion thead{
    background: rgb(49,57,70);
    color: white;
}

.tabla-clasificacion tbody {
    background: rgb(201, 201, 201);
}

.tabla-clasificacion th{
    padding: 10px;
    text-align: center;
    border-right: 1px solid #5a5a5a;
}

.tabla-clasificacion td:nth-child(odd){
    background-color: rgb(162, 162, 162);
}

.tabla-clasificacion td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #111;
    border-right: 1px solid #5a5a5a;
}


.tabla-clasificacion tbody {
    color: #111;
}





/*------estilos al footer-------*/

.footer {

    position: fixed;

    bottom: 0;

    width: 100%;

    height: 35px;

    overflow: hidden;

    background: rgb(138,138,138);

    border-top: 2px solid black;

    padding: 5px;

    display: flex;

    align-items: center;

    overflow:hidden;

    font-size: 23px;

    font-family: "Arial", sans-serif;

    font-weight: 700; /* grosor de la letra*/

    letter-spacing: 4px;

    color:#111;

    text-transform: none;

    transform: scaleX(1.5); /* aumenta el tamaño horizontal del texto */

    transform-origin: left;
}

#mensajeFooter{

    display:flex;

    gap:200px;
}

.animar-footer {
    animation: scrollPes 8s linear infinite;
}

@keyframes scrollPes{

    from {
        transform: translateX(75vw);
    }

    to {
        transform: translateX(-100%);
    }

}
